<h1>News</h1>
<ul class="news-list">
  {% for post in collections.news | reverse %}
    <li class="news-listing">
      {% if post.data.image %}
        <img src="{{ site.baseurl }}{{ post.data.image }}" alt="{{ post.data.title }}" class="featured-image" />
      {% endif %}
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.data.title }}</a></h2>
      <p class="post-date">{{ post.date | date }}</p>
    </li>
  {% endfor %}
</ul>

