<h1>Projects</h1>
<ul class="projects-list">
  {% for project in collections.projects | reverse %}
    <li class="project-listing">
      {% if project.data.image %}
        <img src="{{ site.baseurl }}{{ project.data.image }}" alt="{{ project.data.title }}" class="featured-image" />
      {% endif %}
      <h2><a href="{{ site.baseurl }}{{ project.url }}">{{ project.data.title }}</a></h2>
      <p class="project-date">{{ project.date | date }}</p>
    </li>
  {% endfor %}
</ul>

